default_layout "compact"
default_shell "fish"
keybinds {
	normal clear-defaults=true {
		bind "Ctrl b" {
			SwitchToMode "Tmux";
		}
	}
	tmux {
		bind "e" {
			EditScrollback;
			SwitchToMode "Normal";
		}
	}
}
pane_frames false
session_serialization false
simplified_ui true
theme "rose_pine"
themes {
	rose_pine {
		bg "#403d52"
		black "#26233a"
		blue "#9ccfd8"
		cyan "#ebbcba"
		fg "#e0def4"
		green "#31748f"
		magenta "#c4a7e7"
		orange "#fe640b"
		red "#eb6f92"
		white "#e0def4"
		yellow "#f6c177"
	}
}
